/* @font-face {
	font-family: '...';
	src: url('/fonts/...');
	font-weight: normal;
	font-style: normal;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Press+Start+2P&display=swap');
